@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



html, body{
    font-family: "Montserrat", serif !important;
}

.hero-bg-image{
    background: url('https://plus.unsplash.com/premium_photo-1675490808284-7c8b3c1f0795?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    background-attachment: fixed;
    height:500px;
}

